
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{menutemplate::header('index')}" ></head>
<body>
<nav th:insert="~{menutemplate::navbar}" />
<div id="container">
  <h1>About us</h1>
  <h2>Derdehands.be is a fictional company that specializes in providing high-quality second-hand products. With a wide range of items available, we aim to connect buyers and sellers in a convenient and reliable manner.</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla condimentum mauris nec dui tristique, non fermentum felis posuere. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer lobortis nulla non nulla lobortis, at auctor nisi tristique. Aliquam sit amet purus faucibus, pellentesque velit et, tincidunt velit. In et lacus et ex aliquam mattis. Cras finibus, leo in malesuada consectetur, nisl neque cursus tellus, et pretium neque ligula eget tellus. Fusce et magna id mauris fringilla accumsan. Fusce lacinia ligula eu rutrum fringilla.
  </p>
  <p>
    Sed consequat, nisi non eleifend tincidunt, mauris leo interdum purus, in vestibulum odio lorem non metus. Integer mollis tempor velit. Praesent interdum lacus non augue hendrerit, ut hendrerit lacus feugiat. Morbi ultrices ligula ac lacus sollicitudin, id blandit quam facilisis. Sed vel neque odio. Nulla lacinia sem ac lectus sollicitudin, id auctor dolor volutpat. In at sagittis sem. Proin varius viverra orci, in elementum tortor malesuada a. Etiam pulvinar interdum quam, at hendrerit ex vestibulum id. Morbi non ultrices lacus. Quisque viverra lectus ut lacinia elementum. Nullam luctus risus nec fermentum dignissim. Curabitur facilisis blandit vulputate.
  </p>
  <p>
    Contact us at:<br>
    Address: 123 Main Street, City, Country<br>
    Phone: +1 234 567890<br>
    Email: info@derdehands.be<br>
  </p>
</div>
<footer th:insert="~{menutemplate::footer}"></footer>
</body>
</html>



